.explore {
    width: 70%;
    margin: auto;

    >p {
        @include para(3rem);
    }


    &__item {
        display: flex;
        margin: auto;
        align-items: center;
        font-size: 2rem;
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: translateY(-0.6rem);

            p {
                transform: translateX(1rem);
            }
        }

        i[class$="side"] {
            @include icon-shadow($yellow);

        }

        i[class$="prints"] {
            @include icon-shadow($blue);
        }

        i[class$="tshirt"] {
            @include icon-shadow($perpel);
        }

        i[class$="female"] {
            @include icon-shadow($pink);
            font-size: 3rem;
        }

        i[class$="fa-male"] {
            @include icon-shadow($orange);
            font-size: 3rem;
        }

        p {
            color: $text-light;
            margin-left: 1.5rem;
            transition: 0.3s cubic-bezier(0.42, -0.36, 0.27, 1.55) 0.3s;
        }
    }
}