.productsbox {
    margin: 2rem 0;
    animation: fadeinwithload .3s forwards;
    opacity: 0;
    cursor: pointer;

    &::after {
        content: "";
        display: block;
        height: 89%;
        position: absolute;
        width: 97%;
        border: 0.4rem solid #d8d8d8;
        border-radius: 4rem;
        top: 0;
        left: 0.4rem;
        transform: scale(0.3);
        z-index: -1;
        transition: 0.4s ease;
    }

    &:hover {
        &::after {
            transform: scale(1.0);
        }

        .productsbox__info {
            top: -3rem;
        }
    }

    img {
        border-radius: 3rem;
        box-shadow: 0px 37px 48px -15px #ededed;
    }

    &__info {
        @include para(1.3rem);
        transition: 0.3s;
        display: flex;
        justify-content: space-between;
        width: 86%;
        background-color: white;
        margin: auto;
        position: relative;
        top: -2rem;
        border-radius: 0.9rem;
        padding: 2px 10px;
    }
}

@keyframes fadeinwithload {
    to {
        opacity: 1;
    }
}