.checkout {


    &__item {
        @include para(1.6rem, $text-light);

        &--delete {
            cursor: pointer;

            i {
                position: relative;
                transition: .5s;
                opacity: 0;
                z-index: 2;
                color: white;
            }

            &:hover {
                i {
                    opacity: 1;
                }

                &::after {
                    transform: scale(5);
                    background-color: rgba(124, 124, 124, 0.781);

                }


                i {
                    opacity: 1;
                    color: red;
                }

            }

            &::after {
                content: "";
                display: flex;
                width: 1rem;
                height: 1rem;
                border-radius: 1rem;
                background-color: transparent;
                position: absolute;
                top: 0.5rem;
                left: .2rem;
                transition: 0.6s;
            }

            position: absolute;
            top: 0;
        }

        &--img {

            img {
                width: 60%;
                max-height: 20rem;
                height: 15rem;
                border-radius: 2rem;

                @include media (sm) {
                    width: 100%;
                }


                &:hover+div {
                    &::after {
                        transform: scale(5);
                        background-color: rgba(124, 124, 124, 0.781);


                    }

                    i {
                        opacity: 1;
                    }

                }
            }
        }




        &--info {
            display: flex;
            justify-content: space-between;
        }


    }




    &__title {
        @include para(2rem);
    }

    &__empty {
        @include para(2.3rem, lighten($text-light, $amount: 30%));
        border-radius: 2rem;
        border: .5rem dashed lighten($text-light, $amount: 50%);
        text-align: center;
        margin-top: 25rem;


        a {
            color: $perpel !important;
        }
    }

    &__total {
        @include para(2.6rem);
        text-align: right;
    }
}