.oneproduct {
    margin-bottom: 5rem;

    &__header {
        margin: 1rem 0;
        @include para(1.5rem, $text-light);
        display: flex;
        flex-direction: column;

        p {
            cursor: pointer;
            padding: .5rem 1.5rem;
            transition: 0.3s .2s cubic-bezier(0, 1.64, 1, 1);
            position: relative;
            align-self: flex-start;

            &::before {
                content: "";
                display: block;
                width: 2rem;
                height: 0.5rem;
                background-color: $blue;
                position: absolute;
                bottom: -0.5rem;
                border-radius: 1rem;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transform: translate(1rem);

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    img {
        border-radius: .9rem;
        width: 100%;
        max-height: 50rem;

        @include media(md) {
            width: 70%;
        }

        @include media(lg) {
            width: 50%;
        }

        @include media(xl) {
            width: 100%;
        }
    }

    &__title {
        @include para(2.6rem);
        margin: 0;

        &+p {
            @include para(1.3rem, lighten($text-light, $amount: 20%))
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .oneproduct__controler {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .oneproduct__price {
            display: flex;
            justify-items: center;
            align-items: center;

            p {
                @include para(3.0rem, lighten($text-light, $amount: 20%));

            }

            span {
                @include para(2.5rem, lighten($text-light, $amount: 20%));

            }
        }

        .oneproduct__add {
            overflow: hidden;
            width: 40%;
            padding: 1rem 5rem 1rem 1.3rem;
            background-color: transparent;
            border-radius: 0.9rem;
            border: .3rem solid lighten($text-light, $amount: 50%);
            cursor: pointer;
            @include para(1.6rem, lighten($text-light, $amount: 20%));
            transition: 0.6s;
            position: relative;

            @include media(md) {
                width: 60%;
            }

            @include media(lg) {
                width: 40%;
            }

            @include media(xl) {
                width: 50%;
            }

            .oneproduct__dot {
                width: 1.3rem;
                height: 1.3rem;
                border-radius: 25%;
                background-color: $yellow;
                display: block;
                position: absolute;
                top: 0;
                left: 47%;
                opacity: 0;
                transition: 0.2s;
                z-index: -2;
            }

            i {
                @include para(1.3rem, lighten($text-light, $amount: 20%));
                position: absolute;
                right: 1.2rem;
                transition: 0.6s;
                top: 35.7%;
            }

            .oneproduct__text {
                transition: .3s;
            }

            .fa-shopping-cart {
                @include para(2rem, lighten($text-light, $amount: 20%));
                opacity: 0;
                left: 0;
                transition: 0.3s 0.1s ease !important;

            }
        }
    }


}

.oneproduct__wasadded {

    .oneproduct__text {
        opacity: 0 !important;
    }

    .fa-shopping-cart {
        left: 43% !important;
        opacity: 1 !important;
    }

    .fa-plus {
        opacity: 0;
    }

    .oneproduct__dot {
        opacity: 1 !important;
        top: 1rem !important;
    }
}