@import './variable';
@import './Mixin.scss';
@import './componentStyle/Logo';
@import './componentStyle/explore';
@import './componentStyle/searchbox';
@import './componentStyle/header';
@import './componentStyle/shopbasket';

html {
    font-size: 62.25%;
}

body {
    font-family: 'Poppins', sans-serif;
}