@import './variable';
@import './Mixin.scss';
@import './componentStyle/Logo';
@import './componentStyle/explore';
@import './componentStyle/searchbox';
@import './componentStyle/header';
@import './componentStyle/shopbasket';
@import './componentStyle/categorydrc';
@import './componentStyle/categoryContainer';
@import './componentStyle/productsBox';


html {
    font-size: 62.25%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.img-rsp {
    width: 100%;


    height: 25rem;
}