@mixin para ($size : 2rem, $color : rgb(15, 15, 15), $fontWeight : 700) {
    font-size: $size;
    color: $color;
    font-weight: $fontWeight;
}

@mixin icon-shadow ($color) {
    text-shadow: $color 0px 0px 20px;
    color: $color;
}

@mixin categoryItem($bg-color) {
    background-color: $bg-color;
    transition: 0.6s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 20px 31px -16px $bg-color;
    }
}

@mixin categoryItemVartical {
    display: flex;
    align-items: center;
    justify-content: center;

    //for deleting p margin
    & p {
        margin: 0;
    }
}